= semantic_form_for [:admin, @indicator_category], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :icon, as: :file
    = image_tag url_for(@indicator_category.icon), class: 'category_icon_form_image' if @indicator_category.icon.attached?
    %p
      = ['hi', 'there', 'reader!'].join " " if true
      = "yo"
    = f.actions
