<!-- Content -->
<div class="content clearfix">
   <!-- Intro about -->
   <div class="section-block intro-title-about">
      <div class="row">
         <div class="column width-12">
            <div class="title-container">
               <div class="title-container-inner center color-black">
                  <h1 class="inline no-margin-bottom">¿Qué es DataIgualdad?</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Intro about -->
   <!-- Que es dataigualdad -->
   <div class="section-block pb-0">
      <div class="row">
         <div class="column width-10 offset-1 center">
            <p class="lead weight-bold mb-70 pt-50">¿Qué es DataIgualdad y para qué sirve?</p>
            <p class="text-about">América Latina y el Caribe sigue siendo la región más desigual del planeta en la distribución de su ingreso. En 2017, el <strong>10% más rico de la región acumulaba el 68% de la riqueza</strong>, mientras el <strong>50% más pobre solo accede al 3.5% de la riqueza total</strong> de la región.</p>
            <p class="text-about">La desaceleración económica y el aumento del número de personas en situación de pobreza hacen prioritario frenar la acumulación extrema de ingresos y poder en pocas manos. La <strong>política fiscal, es decir; cuánto y de quien recauda el Estado y cómo y en qué lo invierte</strong>; es central para enfrentar la desigualdad extrema y poder garantizar derechos iguales a toda la ciudadanía.</p>
            <p class="text-about">
               La campaña IGUALES plantea que <strong>para garantizar los derechos de la mayoría, deben reducirse los privilegios de unos pocos</strong>. Para que este proceso sea posible, es indispensable una ciudadanía activa que participe en la toma de decisiones con propuestas y exija a sus gobiernos la representación de sus intereses.
            </p>
            <p class="text-about">Este portal de acceso a datos públicos tiene como objetivo <strong>facilitar a investigadores/as y a la ciudadanía en general posicionarse sobre decisiones fiscales que afectan su cotidianidad y sus derechos</strong> y por lo tanto el nivel de pobreza y desigualdad.</p>
            <p class="text-about">
               Contiene la mayor <strong>base de datos sobre temas fiscales y áreas relacionadas que existe en la región</strong> trabajada de forma ágil, fácil y visual con datos país por país de 1990 a 2016. Contiene información sobre ingresos tributarios, gasto público, democracia, corrupción transparencia, participación y garantía de derechos como salud, educación y vivienda.
            </p>
         </div>
      </div>
   </div>
   <!-- Que es dataigualdad -->
   <!-- Permite -->
   <div class="section-block pb-50">
      <div class="row">
         <div class="column width-12 center">
            <p class="lead weight-bold mb-70 pt-50">Esta base de datos permite:</p>
         </div>
      </div>
      <div class="row flex">
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-download color-theme"></span>
               <div class="feature-text">
                  <h4>Descargar en formato excel las bases de datos de más de 77 indicadores.</h4>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-database color-theme"></span>
               <div class="feature-text">
                  <h4>Desarrollar gráficos de forma ágil y fácil de los indicadores, países y años que la persona elija.</h4>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-documents color-theme"></span>
               <div class="feature-text">
                  <h4>Comparar indicadores de países de Latinoamérica y el Caribe entre 1990 - 2016.</h4>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-calendar color-theme"></span>
               <div class="feature-text">
                  <h4>Evaluar indicadores y su evolución en el tiempo entre los años 1990 - 2016.</h4>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 mb-mobile-50 left">
               <span class="feature-icon icon-help-with-circle color-theme"></span>
               <div class="feature-text">
                  <h4>Facilitar que la ciudadanía entienda la relación entre impuestos, gasto público, derechos y democracia.</h4>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 mb-mobile-50 left">
               <span class="feature-icon icon-share color-theme"></span>
               <div class="feature-text">
                  <h4>Compartir los datos y comparaciones entre indicadores y países vía redes sociales.</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Permite -->
   <!-- Banner -->
   <div class="section-block intro-title-about-middle">
      <div class="row">
         <div class="column width-12">
            <div class="title-container">
               <div class="title-container-inner center color-black">
                  <h2 class="inline no-margin-bottom">Para enfrentar la desigualdad de riqueza, ingreso y oportunidades hay que enfrentar la desigualdad de poder.</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Banner -->
   <!-- Desigualdad poder -->
   <div class="section-block pb-0">
      <div class="row">
         <div class="column width-10 offset-1 center">
            <p class="lead weight-bold mb-70 pt-50">Para enfrentar la desigualdad de riqueza, ingreso y oportunidades hay que enfrentar la desigualdad de poder.</p>
            <p class="text-about">En ALC la desigualdad está muy vinculada a las limitaciones de los Estados para empujar de manera decidida políticas públicas que aseguren los intereses de las mayorías frente a los privilegios de unos pocos. Desde Oxfam entendemos que la concentración de la riqueza va de la mano de la concentración de poder que facilita que élites políticas y económicas utilicen los Estados para mantener un modelo que perpetua sus ventajas y les permite crear nuevas.</p>
            <p class="text-about">
               Las <strong>políticas públicas contra la desigualdad son urgentes y la política fiscal es una de las prioritarias</strong>. La campaña IGUALES plantea que es hora de cambiar las reglas y busca sumar voces para que los gobiernos desarrollen las siguientes acciones.
            </p>
         </div>
      </div>
   </div>
   <!-- Desigualdad poder -->
   <!-- Politicas tributarias -->
   <div class="section-block replicable-content">
      <div class="row flex">
         <div class="column width-12 center">
            <p class="lead mb-110">Políticas Tributarias / Impuestos</p>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Recaudar lo suficiente</h4>
                  <p>Se debe fijar un objetivo de incremento de la presión fiscal de forma secuenciada, para dotar de recursos suficientes la financiación de las políticas de inversión social.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Recaudar de manera justa</h4>
                  <p>Recuperar progresividad en el conjunto del diseño tributario especialmente aumentando la carga sobre la riqueza, los beneficios y la propiedad frente al consumo y el salario.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Revisar los privilegios fiscales de las empresas</h4>
                  <p> Revisar íntegramente todos los privilegios fiscales con el objetivo de mantener solo aquellos que tengan un impacto social positivo y asegurar una gobernanza que asegure el interés público.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 mb-mobile-50 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Enfrentar la evasión fiscal</h4>
                  <p>Otorgar prioridad a la erradicación de la evasión de impuestos, a través la creación de un plan de acción regional agresivo, que combine acciones coordinadas para dar cohesión a las leyes tributarias nacionales.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Enfrentar la carrera a la baja de los impuestos a la renta</h4>
                  <p>Frenar la competencia fiscal improductiva entre países, mediante acuerdos regionales y globales que eviten una carrera a la baja para atraer inversión extranjera.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Eliminar los paraísos fiscales</h4>
                  <p>Acabar con la sangría que representan los paraísos fiscales, promoviendo una lista negra armonizada a nivel regional.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Democratizar la reforma fiscal internacional</h4>
                  <p>Promover la creación de un organismo fiscal intergubernamental en el que todos los países puedan participar en igualdad de condiciones, para reequilibrar el poder en la toma de decisiones sobre la reforma fiscal a nivel internacional.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Impulsar la participación ciudadana</h4>
                  <p>Fomentar la participación efectiva de la ciudadanía en las reformas tributarias y desarrollar mecanismos parlamentarios para garantizar la rendición de cuentas en lo relativo al establecimiento de objetivos realistas y al monitoreo de los avances.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 left">
               <span class="feature-icon icon-star color-theme"></span>
               <div class="feature-text">
                  <h4>Reconstruir la confianza tributaria</h4>
                  <p>Para incrementar la confianza de la ciudadanía en las instituciones, las políticas tributarias deben ser evaluadas de manera independiente y transparente, sin una influencia desproporcionada de los grupos económicos más poderosos.</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row flex">
         <div class="column width-12 center">
            <p class="lead pt-100 pb-100">Presupuesto / Gasto público</p>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-add-to-list color-theme"></span>
               <div class="feature-text">
                  <h4>Promover el aumento de la inversión social</h4>
                  <p>Asegurar la asignación del gasto público para el financiamiento de protección social y servicios sociales básicos de calidad.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-home color-theme"></span>
               <div class="feature-text">
                  <h4>Promover servicios sociales públicos universales y de calidad</h4>
                  <p>Agotar todos los esfuerzos para universalizar los servicios básicos de calidad y la garantía progresiva de los derechos económicos, sociales y culturales.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
               <span class="feature-icon icon-users color-theme"></span>
               <div class="feature-text">
                  <h4>Enfrentar la desigualdad entre hombres y mujeres</h4>
                  <p>Garantizar recursos públicos suficientes para enfrentar consecuencias por desigualdad entre hombres y mujeres.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 mb-mobile-50 left">
               <span class="feature-icon icon-check color-theme"></span>
               <div class="feature-text">
                  <h4>Asegurar la transparencia y rendición de cuentas</h4>
                  <p>Asegurar la transparencia y rendición de cuentas tanto en recaudación como en orientación y ejecución del gasto público.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 mb-mobile-50 left">
               <span class="feature-icon icon-credit color-theme"></span>
               <div class="feature-text">
                  <h4>Control ciudadano de los fondos públicos</h4>
                  <p>Favorecer el ejercicio del control ciudadano de los fondos públicos.</p>
               </div>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column box small bkg-white mb-30 left">
               <span class="feature-icon icon-flag color-theme"></span>
               <div class="feature-text">
                  <h4>Democratizar las decisiones fiscales</h4>
                  <p>Garantizar transparencia en las reformas fiscales y uso de mecanismos eficaces de debate público.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Politicas tributarias -->
   <!-- como se hizo -->
   <div class="section-block hero-5 hero-5-2 show-media-column-on-mobile bkg-charcoal">
      <div class="media-column width-6 horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:200ms;" data-threshold="0.6"></div>
      <div class="row">
         <div class="column width-5 push-7 mt-100 mb-50">
            <div class="hero-content split-hero-content">
               <div class="hero-content-inner left">
                  <h3 class="color-white">¿Cómo se hizo?</h3>
                  <p class="color-grey-light">Esta base de datos se alimenta de indicadores recopilados por diferentes instituciones y centros de investigación expertos en las temáticas trabajadas así como de fuentes oficiales de los diferentes Estados de la región. En cada indicador puede encontrar la definición y la fuente específica de donde se extrajo.</p>
                  <p class="color-grey-light">Aparte de los indicadores levantados de estas bases de datos se han desarrollado cálculos para desarrollar mensajes que faciliten a la ciudadanía en general comprender el impacto de la política fiscal en sus derechos. La metodología utilizada para cada uno de estos cálculos está explicada cuando se entra a cada mensaje.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Como se hizo -->
   <!-- Fuentes -->
   <div class="section-block clients-1 replicable-content">
      <div class="row">
         <div class="column width-4">
            <h3 class="mb-50">Las principales fuentes son:</h3>
         </div>
         <div class="column width-8">
            <div class="row content-grid-4 flex">
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://publications.iadb.org/es/publicacion/17235/estadisticas-tributarias-en-america-latina-y-el-caribe-1990-2015" target="_blank">OCDE, CEPAL Y BID</a></h5>
                  <span class="client-description font-alt-1">Estadísticas tributarias en América Latina y el Caribe 1990-2015</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="http://dds.cepal.org/" target="_blank">CEPAL</a></h5>
                  <span class="client-description font-alt-1">Base de Datos de Inversión Social</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://datos.bancomundial.org/indicador?tab=all" target="_blank">Banco Mundial</a></h5>
                  <span class="client-description font-alt-1">Base de datos Banco Mundial</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="http://www.latinobarometro.org/lat.jsp" target="_blank">Latinobarómetro</a></h5>
                  <span class="client-description font-alt-1">Latinobarómetro, Opinión pública latinoamericana 2016</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://stats.oecd.org/" target="_blank">OCDE Stats</a></h5>
                  <span class="client-description font-alt-1">stats.oecd.org</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://www.cepal.org/es/publicaciones/41044-panorama-fiscal-america-latina-caribe-2017-la-movilizacion-recursos" target="_blank">CEPAL</a></h5>
                  <span class="client-description font-alt-1">Panorama Fiscal de América Latina y el Caribe 2017</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://datos.bancomundial.org/tema/salud" target="_blank">Banco Mundial</a></h5>
                  <span class="client-description font-alt-1">HealthStats Banco Mundial</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://www.vanderbilt.edu/lapop-espanol/" target="_blank">LAPOP</a></h5>
                  <span class="client-description font-alt-1">Encuestas de opinión pública en las Américas, 2016</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://index.okfn.org/" target="_blank">Global Open Data Index</a></h5>
                  <span class="client-description font-alt-1">Global Open Data Index, 2016</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://estadisticas.cepal.org/cepalstat/Portada.html" target="_blank">CEPAL Stats</a></h5>
                  <span class="client-description font-alt-1">estadisticas.cepal.org</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://www.internationalbudget.org/publications/open-budget-survey-2015//" target="_blank">International Budget</a></h5>
                  <span class="client-description font-alt-1">Open Budget Survey, 2015</span>
               </div>
               <div class="grid-item">
                  <h5 class="client-name"><a href="https://opendatabarometer.org/" target="_blank">Open Data Barometer</a></h5>
                  <span class="client-description font-alt-1">Open Data Barometer, 2016</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Fuentes -->
</div>
<!-- Content End -->
