
<div class="section-block intro-title-2 intro-title-2-1">
                  <div class="row">
                     <div class="column width-12">
                        <div class="title-container">
                           <div class="title-container-inner center color-black">
                              <h1 class="inline no-margin-bottom">Contáctate</h1>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
<!-- contactate equipo -->
<div class="section-block replicable-content team-2 bkg-white">
   <div class="row">
      <div class="column width-12">
         <h3 class="mb-50 center">Contáctate con nuestro equipo</h3>
      </div>
      <div class="column width-12">
         <div class="row content-grid-3">
            <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3">
               <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
               </div>
               <div class="team-content-info">
                  <h4 class="mb-5">Rosa Cañete Alonso</h4>
                  <h4 class="occupation">rmcanete@oxfamintermon.org</h4>
                  <p>
                     Calle Josefa Perdomo 160, esq. Hermanos Deligne. Santo Domingo, República Dominicana
                     <br> Teléfono: +1809 6825002
                  </p>
                  <ul class="social-list list-horizontal">
                     <!-- <li><a href="#"><span class="icon-linkedin small"></span></a></li>
                     <li><a href="#"><span class="icon-twitter small"></span></a></li> -->
                  </ul>
               </div>
            </div>
            <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.3">
               <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
               </div>
               <div class="team-content-info">
                  <h4 class="mb-5">Raquel Checa</h4>
                  <h4 class="occupation">rcheca@oxfamintermon.org</h4>
                  <p>6 calle 3-66 zona 10, Ciudad de Guatemala
                     <br>Teléfono: +502 22055250
                  </p>
                  <ul class="social-list list-horizontal">
                     <!-- <li><a href="#"><span class="icon-linkedin small"></span></a></li>
                     <li><a href="#"><span class="icon-twitter small"></span></a></li> -->
                  </ul>
               </div>
            </div>
            <div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;" data-threshold="0.3">
               <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
               </div>
               <div class="team-content-info">
                  <h4 class="mb-5">Pablo Andrés Rivero</h4>
                  <h4 class="occupation">parivero@oxfamintermon.org</h4>
                  <p>Calle 16 no. 8232, entre calles Claudio Aliaga y Prudencio, Calacoto. La Paz, Bolivia<br>
                     Teléfono: +591 (2) 2771775 - 2791947 int. 107
                  </p>
                  <ul class="social-list list-horizontal">
                     <!-- <li><a href="#"><span class="icon-linkedin small"></span></a></li>
                     <li><a href="#"><span class="icon-twitter small"></span></a></li> -->
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- contactate equipo -->
<!--Contact Form -->
<section class="section-block replicable-content contact-2 no-padding-top bkg-grey-ultralight">
   <div class="row">
      <div class="column width-8 offset-2 center">
         <h2 class="mb-30 pt-100">Formulario de contacto</h2>
         <div class="contact-form-container">
            <!-- <form class="contact-form" action="php/send-email.php" method="post" novalidate> -->
            <%= form_with url: contact_path, method: :post, id: :custom_id, class: "contact-form"  do |form| %>
               <div class="row">
                  <div class="column width-12">
                     <input type="text" name="fname" class="form-fname form-element large" placeholder="Nombre*" tabindex="1" required>
                  </div>
                  <div class="column width-12">
                     <input type="text" name="lname" class="form-lname form-element large" placeholder="Apellido*" tabindex="2" required>
                  </div>
                  <div class="column width-12">
                     <input type="email" name="email" class="form-email form-element large" placeholder="Email*" tabindex="3" required>
                  </div>
                  <div class="column width-12">
                     <input type="text" name="website" class="form-website form-element large" placeholder="Teléfono" tabindex="4">
                  </div>
                  <div class="column width-12">
                     <input type="text" name="honeypot" class="form-honeypot form-element large">
                  </div>
               </div>
               <div class="row">
                  <div class="column width-12">
                     <div class="field-wrapper">
                        <textarea name="message" class="form-message form-element large" placeholder="Mensaje*" tabindex="7" required></textarea>
                     </div>
                  </div>
                  <div class="column width-12">
                     <!-- <input type="submit" value="Enviar mensaje" class="form-submit button medium bkg-theme bkg-hover-theme color-white color-hover-white"> -->
                     <%= form.submit 'Enviar mensaje', :class=> 'form-submit button medium bkg-theme bkg-hover-theme color-white color-hover-white' %>
                  </div>
               </div>
            <!-- </form> -->

          <% end %>
            <div class="form-response center"></div>
         </div>
      </div>
   </div>
</section>
<!--Contact Form End -->
