<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact Form at dataigualdad.org has been fullfilled with data:</h1>
    <p>
      Contact From: <%= @email %>
    </p>
    <p>
      Message: <%= @message %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
