
       <br> <br><br>
       <div class="table-responsive">
         <!--Table-->
        <table class="table small">
          <thead>
           <tr>
             <th scope="col">País</th>
             <% @years.each do |year| %>
               <th scope="col"><%= year %></th>
             <% end %>
           </tr>
         </thead>
         <tbody>
           <% @indicator.data(@country_ids, @years).each do |data_by_country| %>
             <tr>
               <% data_by_country["data"].each do |d| %>
                 <td> <%= d[1] %> </td>
               <% end %>
             </tr>
           <% end %>
         </tbody>
       </table> --> %>

       </div>
