<section class="fullscreen-sections-wrapper">
   <div class="section-block fullscreen-section">
      <!-- Fullscreen Slider -->
      <div class="background-slider-wrapper">
         <div class="tm-slider-container fullscreen tms-fullscreen tms-caption-no-scaling show-on-hover" data-featured-slider="" data-fs-use-height="parent" data-auto-advance="" data-auto-advance-interval="4000" data-pause-on-hover="false" data-progress-bar="false" data-nav-arrows="false" data-nav-pagination="false" data-speed="2800" data-animation="fade" data-scale-under="1" style="top: 0px; left: 0px; width: 1035px; height: 698px;">
            <ul class="tms-slides">
               <li class="tms-slide active tms-forcefit" data-image="" data-force-fit="" id="tms-slide-1" style="transition: -webkit-transform 1000ms ease 0ms, opacity; opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); transform-origin: 50% 50% 0px; visibility: visible;">
                  <img data-src="<%= asset_path 'datos-bg.png' %>" data-retina="" src="<%= asset_path 'datos-bg.png' %>" alt="" style="opacity: 1; width: 1091px; height: 698px; top: 0px; left: -28px;">
               </li>
            </ul>
         </div>
      </div>
      <!-- Fullscreen Slider End -->
      <!-- Fullscreen Inner -->
      <div class="fullscreen-inner">
        <div class="row tmh-perspective">
           <div class="column width-10 pt-60 offset-1 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1" style="backface-visibility: hidden; transition: -webkit-transform 1000ms cubic-bezier(0.11, 0.69, 0.66, 1.01) 0s, opacity; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
              <p class="text-medium lspacing-small mb-10 color-black title01">Para enfrentar la crisis </p>
              <div class="clear"></div>
              <p class="title-large no-padding-on-mobile lspacing-medium mb-10 weight-bold color-black">quienes tienen más</p>
              <p class="text-medium lspacing-small mb-10 color-black title01">deben pagar lo que corresponde</p>
              <div class="row">
                 <div class="column width-12 pt-30 pb-30 current">
                    <p class="color-black text-small">
                       Revisa aquí cómo impacta la evasión de impuestos en las vidas de los habitantes de América Latina
                    </p>
                    <a href="#datosparaactuar" class="icon-circled icon-down-open-mini medium scroll-link border-black bkg-hover-theme color-black color-hover-white no-margins" data-offset="-60"></a>
                 </div>
              </div>
           </div>
        </div>
      </div>
    </section>
    <!-- Datos Section -->
    <section id="datosparaactuar">
         <div class="row tmh-perspective">
            <div class="column width-10 pt-60 offset-1 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1" style="backface-visibility: hidden; transition: -webkit-transform 1000ms cubic-bezier(0.11, 0.69, 0.66, 1.01) 0s, opacity; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
              <h1 class="inline no-margin-bottom">Datos en detalle</h1>
                <%= form_with model: @indicator, method: :get, local: true, url: data_dashboard_path, class: "" do |f| %>
                  <div class="row">
                    <div class="column width-2 pt-30  current"> </div>
                    <div class="column width-8 pt-30  current">
                      <h2> 1. Elige el indicador </h2>
                      <div class="form-select form-element small">
                        <%= f.collection_select(:indicator_id, Indicator.order('name ASC'), :id, :name, {:prompt => 'Selecciona el indicador', :selected => @indicator.id}, {multiple: false, class: 'form-aux'}) %>
                      </div>
                    </div>
                    <div class="column width-2 pt-30  current"> </div>
                  </div>

                  <!-- <div class="row">
                    <div class="column width-2 pb-30 current"></div>
                    <div class="column width-4 pb-30 current">
                      <h2> 2. Elige los países </h2>
                      <div class="form-select form-element small">
                        <%= f.collection_select(:country_ids, Country.all, :id, :name, {:prompt => 'Selecciona los países',:selected => @country_ids}, { multiple: true, class: 'form-aux' }) %>
                      </div>
                    </div>

                    <div class="column width-4 pb-30 current">
                      <h2> 2. Elige los años </h2>
                      <div class="form-select form-element small">
                        <%= f.select(:years, (2000..2018).collect {|p| [ p, p ] }, {:prompt => 'Selecciona años', :selected => @years }, { multiple: true, class: 'form-aux' }) %>
                      </div>
                    </div>

                    <div class="column width-2 pb-30 current"></div>

                  </div> -->

                  <%= f.submit "Revisar indicador" %>

                <% end %>

               </div>
            </div>
         </div>
      </div>
</section>

<% if @indicator.data(@country_ids, @years).empty? %>


<div class="content clearfix">
  <div class="section-block pb-0">
   <div class="row">
     <div class="column width-10 offset-1 center">

       <p class="lead weight-bold mb-70 pt-50"> No hay datos para esta búsqueda </p>

     </div>
   </div>
 </div>
</div>

<% else %>
<!-- Content -->
<div class="content clearfix">
  <div class="section-block pb-0">
   <div class="row">
     <div class="column width-10 offset-1 center">

       <p class="lead weight-bold mb-70 pt-50"> <%= @indicator.name %> </p>

       <p> <%= @indicator.description %> </p>

       <p><%= image_tag @indicator.icon if @indicator.icon.attached?%></p>

       <%= line_chart @indicator.data(@country_ids, @years).each.map { |country|
           {name: country['label'], data: country['data']}
         },
          min: @minmax.first,
          max: @minmax.last,
          code: false,
          download: {background: "#ffffff", filename: "dataigualdad-chart"},
          legend: "bottom",
          xtitle: "Año", ytitle: @indicator.name.truncate(45), height: "450px"  %>

     </div>
   </div>
   <div class="row">
     <div class="column width-10 offset-1 center">
        <p class="lead weight-bold mb-70 pt-30">Notas:</p>
        <ol>
          <% @indicator.notes.each do |note| %>
          <li><%= note.text %></li>
          <% end %>
        </ol>
      </div>
   </div>
 </div>
</div>
<% end %>
