%h1 Data#dashboard
%p Find me in app/views/data/dashboard.html.haml


= form_with model: @indicator, remote: true, method: :get, url: data_indicator_path, class: "" do |f|
  = f.text_field :title
  = f.collection_select(:indicator_id, Indicator.all, :id, :name, {:prompt => 'Please select the indicator'})
  = f.collection_select(:country_ids, Country.all, :id, :name, {:prompt => 'Please select the countries'}, { multiple: true })
  = f.select(:years, (1990..2018).collect {|p| [ p, p ] }, { include_blank: true }, { multiple: true })
  = f.submit "Create"

=  @indicator.data.map { |row|
  %p {name: row.key, data: row.values}
  }
