<% content_for :og_details do %>
  <meta property="og:title"           content="DataIgualdad" />
  <meta property="og:url"             content="<%= root_url %>fact/<%=@fact.id%>" />
  <meta property="og:description"     content="<%= @fact.question_text %>" />
  <meta property="og:type"            content="article" />
  <meta property="fb:app_id"          content="2410108469250484" />
  <meta name="twitter:card"           content="summary_large_image" />
  <meta name="twitter:site"           content="@ciudadaniai" />
  <meta name="twitter:creator"        content="@ciudadaniai" />
  <% if @fact.slide.attached? %>
    <meta property="og:image"         content='<%=root_url%><%= url_for(@fact.slide.attachment) %>'/>
    <meta property="og:image:width"   content="2500" />
    <meta property="og:image:height"  content="1600" />
    <meta name="twitter:image"        content="<%=root_url%><%= url_for(@fact.slide.attachment) %>">
  <% end %>
<% end %>

<section class="fullscreen-sections-wrapper">
  <div class="column width-12 center fact-section">
    <a id="tml-exit" class="tml-nav" onclick="history.back()"></a>
           <div class="image">
              <%= image_tag @fact.slide if @fact.slide.attached? %>
              <h3 class="center pt-10 pb-0"> Comparte este dato en Redes Sociales </h3>
              <div class="social-share-button" data-title="{:url=><%= root_url%>;, :image=><%= url_for(@fact.slide.attachment) if @fact.slide.attached?%>;}" data-img="" data-url="" data-desc="" data-via="">

                <a rel="nofollow " data-site="twitter" class="ssb-icon ssb-twitter" title="Share to Twitter" onclick="popUp=window.open('https://twitter.com/intent/tweet?text=<%=u @fact.factable.question_category.message %>&amp;url=<%= root_url %>fact/<%=@fact.id%>&amp;related=ciudadania_i', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)"></a>

                <a rel="nofollow " data-site="facebook" class="ssb-icon ssb-facebook"  title="Share to Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= root_url %>fact/<%=@fact.id%>', 'sharer', 'width=626,height=436');" href="javascript: void(0)" >
                </a>

                <a rel="nofollow " data-site="email" class="ssb-icon ssb-email" onclick="return SocialShareButton.share(this);" title="Share to Email" href="#"></a>

                <a rel="nofollow " data-site="linkedin" class="ssb-icon ssb-linkedin" onclick="return SocialShareButton.share(this);" title="Share to Linkedin" href="#"></a>

                <!-- <a rel="nofollow " data-site="reddit" class="ssb-icon ssb-reddit" onclick="return SocialShareButton.share(this);" title="Share to Reddit" href="#"></a> -->

                <a rel="nofollow " data-site="telegram" class="ssb-icon ssb-telegram" onclick="return SocialShareButton.share(this);" title="Share to Telegram" href="#"></a>

                <a rel="nofollow " data-site="whatsapp_app" class="ssb-icon ssb-whatsapp_app" href="whatsapp://send?text=<%= root_url %>fact/<%=@fact.id%>"></a>

              </div>

           </div>
    </div>
</section>
