<section class="fullscreen-sections-wrapper">
   <div class="section-block fullscreen-section">
      <!-- Fullscreen Slider -->
      <div class="background-slider-wrapper">
         <div class="tm-slider-container fullscreen tms-fullscreen tms-caption-no-scaling show-on-hover" data-featured-slider="" data-fs-use-height="parent" data-auto-advance="" data-auto-advance-interval="4000" data-pause-on-hover="false" data-progress-bar="false" data-nav-arrows="false" data-nav-pagination="false" data-speed="2800" data-animation="fade" data-scale-under="1" style="top: 0px; left: 0px; width: 1035px; height: 698px;">
            <ul class="tms-slides">
               <li class="tms-slide active tms-forcefit" data-image="" data-force-fit="" id="tms-slide-1" style="transition: -webkit-transform 1000ms ease 0ms, opacity; opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); transform-origin: 50% 50% 0px; visibility: visible;">
                  <img data-src="<%= asset_path 'desigualdad-bg.png' %>" data-retina="" src="<%= asset_path 'desigualdad-bg.png' %>" alt="" style="opacity: 1; width: 1091px; height: 698px; top: 0px; left: -28px;">
               </li>
            </ul>
         </div>
      </div>
      <!-- Fullscreen Slider End -->
      <!-- Fullscreen Inner -->
      <div class="fullscreen-inner">
         <div class="row tmh-perspective">
            <div class="column width-10 pt-60 offset-1 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="1" style="backface-visibility: hidden; transition: -webkit-transform 1000ms cubic-bezier(0.11, 0.69, 0.66, 1.01) 0s, opacity; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
               <p class="text-medium lspacing-small mb-10 color-black title01">Para enfrentar la crisis </p>
               <div class="clear"></div>
               <p class="title-large no-padding-on-mobile lspacing-medium mb-10 weight-bold color-black">quienes tienen más</p>
               <p class="text-medium lspacing-small mb-10 color-black title01">deben pagar lo que corresponde</p>
               <div class="row">
                  <div class="column width-12 pt-30 pb-30 current">
                     <p class="color-black text-small">
                        Revisa aquí cómo impacta la evasión de impuestos en las vidas de los habitantes de América Latina
                     </p>
                     <a href="#datosparaactuar" class="icon-circled icon-down-open-mini medium scroll-link border-black bkg-hover-theme color-black color-hover-white no-margins" data-offset="-60"></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Fullscreen Inner -->
   </div>
</section>
<!-- Datos Section -->
<section id="datosparaactuar">
  <div class="row no-padding">
    <div class="column width-12 pt-30 pb-30 current">
    <p class="color-black text-small">
    Saber cómo se distribuyen los recursos públicos nos permite tomar posición para reducir la desigualdad. Revisa aquí una serie de datos por país sobre cómo los montos que deberían destinarse al pago de impuestos podrían ayudar a enfrentar la crisis. 
    </p>
    </div>
  </div>
   <div class="section-block grid-filter-menu pt-110 right left-on-mobile">
      <div class="row no-padding">
         <div class="column width-6">
          <p>Selecciona un país y revisa sus datos</p>
         </div>
      </div>
      <div class="row">
         <div class="column width-6 offset-3">
            <div class="form-select form-element large">
               <%= form_with method: :get, local: true, url: data_questions_path, class: "" do |f| %>
               <br>
               <%= f.collection_select(:country_id, Country.all, :id, :name, {:prompt => 'Elige un país',:selected => @country_id}, { multiple: false, class: 'form-aux', onchange: 'this.form.submit();' }) %>
               <br>
               <% f.submit "Show" %>
               <% end %>
            </div>
         </div>
      </div>
      <div class="row">   
         <div class="column width-12 left">
            <ul>
               <li><a class="active" href="#" data-filter="*">Todos</a></li>
               <% @question_categories.reverse_each do |cat|%>
               <li><a href="#" data-filter=".<%= cat.short_name %>"><%= cat.name %></a></li>
               <% end %>
            </ul>
         </div>
      </div>
   </div>
   <div class="section-block grid-container fade-in-progressively small-margins no-padding-top" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0">
      <div class="row">
         <div class="column width-12">
            <div class="row grid content-grid-3">
               <% @facts.each do |fact| %>
               <!-- image template  -->
               <div class="grid-item grid-sizer <%= fact.factable.question_category.short_name.to_s if fact.factable  %>">

                  <div class="image-concept-text">
                     <p><%= fact.factable.concept if fact.factable %></p>
                  </div>
                  <div class="title-container-inner color-black">
                     <h2 class="inline">Respuesta</h2>
                  </div>

                  <div class="question_text thumbnail img-scale-in"  data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                     <!--<a class="overlay-link lightbox-link" data-group="gallery-1">-->
                     <div>
                        <!-- <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="<%= url_for(fact.slide) if fact.slide.attached? %>" href="<%= fact.path if fact.slide.attached? %>">
                           <%= image_tag fact.slide if fact.slide.attached? %>
                           -->
                        <a class="overlay-link not-lightbox-link" data-group="gallery-1" data-image-url="<%= url_for(fact.slide) if fact.slide.attached? %>" href="<%= fact.path %>">
                        <%= image_tag fact.slide if fact.slide.attached? %>
                        <span class="overlay-info v-align-bottom left">
                        <span>
                        <span>
                        <span class="project-description"><span class="icon-eye left"> </span>
                        Ver imagen
                        </span>
                        </span>
                        </span>
                        </span>
                     </div>
                  </div>

                    <br>

                    <div class="social-share-button" data-title="{:url=><%= root_url%>;, :image=><%= url_for(fact.slide.attachment) if fact.slide.attached?%>;}" data-img="" data-url="" data-desc="" data-via="">

                      <a rel="nofollow " data-site="twitter" class="ssb-icon ssb-twitter" title="Share to Twitter" onclick="popUp=window.open('https://twitter.com/intent/tweet?text=<%=u fact.factable.question_category.message%>&amp;url=<%= root_url %>fact/<%=fact.id%>&amp;related=ciudadania_i', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)"></a>

                      <a rel="nofollow " data-site="facebook" class="ssb-icon ssb-facebook"  title="Share to Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= root_url %>fact/<%=fact.id%>', 'sharer', 'width=626,height=436');" href="javascript: void(0)" >
                      </a>

                      <a rel="nofollow " data-site="email" class="ssb-icon ssb-email" onclick="return SocialShareButton.share(this);" title="Share to Email" href="#"></a>

                      <a rel="nofollow " data-site="linkedin" class="ssb-icon ssb-linkedin" onclick="return SocialShareButton.share(this);" title="Share to Linkedin" href="#"></a>

                      <!-- <a rel="nofollow " data-site="reddit" class="ssb-icon ssb-reddit" onclick="return SocialShareButton.share(this);" title="Share to Reddit" href="#"></a> -->

                      <a rel="nofollow " data-site="telegram" class="ssb-icon ssb-telegram" onclick="return SocialShareButton.share(this);" title="Share to Telegram" href="#"></a>

                      <a rel="nofollow " data-site="whatsapp_app" class="ssb-icon ssb-whatsapp_app" href="whatsapp://send?text=<%= root_url %>fact/<%=fact.id%>"></a>

                    </div>

               </div>
               <!-- end image template  -->
               <% end %>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Datos Section -->
