// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.grid_table {
  table-layout:fixed;
  width: 100%;
  border-collapse:collapse;
}
.grid_header {
  text-align: center;
  border: 1px solid black;
}
.grid_row_header {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  // height: 25px;
  border: 1px solid black;
  text-align: right;
}
.grid_content {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.grid_input {
  text-align: right;
  width: 100% !important;
  box-sizing: border-box;
}

img {
  max-width:100%;
  height:auto; 
}
