 <%= semantic_form_for [:admin, @indicator], builder: ActiveAdmin::FormBuilder do |f| %>

  <% facts = @indicator.facts %>
  <% years = facts.distinct.pluck(:year).sort_by{|e| e } %>

  <table class ="grid_table">
    <th class ="grid_header">Country</th>
    <% years.each do |year| %>
    <th class ="grid_header"><%= year %></th>
    <% end %>
    <% facts.distinct.pluck(:country_id).sort_by{|id| Country.find(id).name}.each do |c| %>
    <tr>
      <% country = Country.find c %>
      <td class ="grid_row_header">
        <b>
        <%= country.name %>
        </b>
      </td>
      <% years.each do |y| %>
      <td class ="grid_content">
        <div class="inner_grid">
          <% current_fact = Fact.where(country: c, year: y, factable: @indicator).first_or_create %>

          <%= f.semantic_fields_for :facts, current_fact || f.object.build_fact do |fact_fields| %>
            <%= fact_fields.hidden_field :country_id, :value => c %>
            <%= fact_fields.hidden_field :year, :value => y %>
            <%= fact_fields.hidden_field :factable_type, :value => 'Indicator' %>
            <%= fact_fields.hidden_field :factable_id, :value => @indicator.id %>
            <%= fact_fields.hidden_field :id, :value => current_fact.id %>
            <%= fact_fields.text_field :value, :value => current_fact.value, class: "grid_input" %>
          <% end %>
        </div>
      </td>
      <% end %>
    <% end %>
    </tr>
  </table>
  <%= f.actions %>
<% end %>
