<!-- Descarga Section -->
<section>
   <div class="section-block replicable-content pt-60 pb-30 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight">
      <div class="row">
         <div class="column width-6 offset-1 right center-on-mobile color-black">
            <p class="weight-normal">Descarga acá todos los datos en formato Excel</p>
         </div>
         <div class="column width-4 left center-on-mobile">
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/1x77lgo5Z2ksxfvAwcDLsRhSO4z8tC4Gc9c_sGHrqiX8" onclick="myFunction();"class="button bkg-theme border-hover-black color-white color-hover-black mb-mobile-30 medium">Descargar base de datos para actuar</a>
            <script>
              function myFunction() {
                // document.getElementById("demo").innerHTML = "Hello World";
                gtag('event', 'download', {
                  'document': '1',
                  'screen_name': 'descarga'
                });

              }
            </script>
         </div>
      </div>
   </div>
</section>
<!-- Descarga Section -->
