<!-- Elaborado por -->
<div class="section-block logos-1 pt-50 pb-50 bkg-white color-charcoal">
   <div class="row">
      <div class="column width-3 center-on-mobile">
         <h3 class="mb-mobile-3 pt-20">Con apoyo de:</h3>
      </div>
      <div class="column width-9">
         <div class="row content-grid-3">
            <div class="grid-item">
               <a href="https://www.oxfam.org/es">
               <!-- <img src="images/logo-oxfam.png" alt=""/> -->
               <%= image_tag 'logo-oxfam.png' %>
               </a>
            </div>
            <div class="grid-item">
               <a href="https://www.latindadd.org/">
               <!-- <img src="images/logo-latindadd.png" alt=""/> -->
               <a href="https://ciudadaniai.org">
                 <%= image_tag 'logo-ciudadaniai.png' %>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Elaborado por -->
