<!-- Elaborado por -->
<div class="section-block logos-1 pt-50 pb-50 bkg-white color-charcoal">
   <div class="row">
      <div class="column width-3 center-on-mobile">
         <h3 class="mb-mobile-3 pt-20"> Extra : </h3>
      </div>
      <div class="column width-9">
        <div>
          <%= yield %>
        </div>
      </div>
   </div>
</div>
<!-- Elaborado por -->
