<!-- Footer -->
<footer class="footer">
   <div class="footer-top">
      <div class="row flex">
         <div class="column width-6">
            <div class="widget">
               <h4 class="widget-title">Mapa de sitio</h4>
               <ul>
                  <li>
                     <%= link_to root_path do %>
                      Inicio
                     <% end %>
                  </li>
                  <li>
                    <%= link_to about_path do %>
                     Quiénes somos
                    <% end %>
                  </li>
                  <!-- <li>
                     <a href="open-data.html">OpenData</a>
                  </li> -->
                  <li>
                     <%= link_to data_questions_path do %>
                      Datos para actuar
                     <% end %>
                  </li>
                  <li>
                    <%= link_to contact_path do %>
                     Contacto
                    <% end %>
                  </li>
               </ul>
               <div class="divider hide show-on-mobile no-margin-top"></div>
            </div>
         </div>
         <div class="column width-5 offset-1">
            <div class="widget">
               <h4 class="widget-title">#DataIgualdad</h4>
               <p>DataIgualdad está en proceso de actualización, próximamente publicaremos la versión actualizada de todos los indicadores del sitio. ¿Quieres acceder a la base de datos original del proyecto?
               </p>
                <a class="button button-datos small
                bkg-datos bkg-hover-datos color-white color-hover-white no-margin-bottom" href="https://drive.google.com/file/d/1wUNZKyRz8dSM5imz8C5QG6EFqCcsiSDS/view"  onclick="myFunctionga(1);" target="_blank"></small>Descarga aquí la base de datos</span></a>
                <a class="button button-datos small
                bkg-datos bkg-hover-datos color-white color-hover-white no-margin-bottom" href="https://drive.google.com/file/d/1wUNZKyRz8dSM5imz8C5QG6EFqCcsiSDS/view"  onclick="myFunctionga(1);" target="_blank"></small>Descarga aquí la base de datos</span></a>
                <a class="button button-datos small
                bkg-datos bkg-hover-datos color-white color-hover-white no-margin-bottom" href="/DataIGUALDAD_metodología_1_0818.pdf"  onclick="myFunctionga(2);"target="_blank"></small>Metodología</span></a>
                <script>
                  function myFunctionga(doc) {
                    // alert(doc)
                    gtag('event', 'download', {
                      'document': doc,
                      'screen_name': doc
                    });
                  }
                </script>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- Footer -->
