<!-- Header -->
<header class="header header-absolute header-fixed-on-mobile header-transparent" data-helper-in-threshold="300" data-helper-out-threshold="500" data-sticky-threshold="300" data-bkg-threshold="300" data-compact-threshold="300">
  <div class="header-inner">
     <div class="row nav-bar">
        <div class="column width-12 nav-bar-inner">
           <div class="logo">
              <div class="logo-inner">
                 <%= link_to root_path, {:class => "navbar-brand brand-logo"} do %>
                   <%= image_tag 'logo-dark.png' %>
                 <% end %>
                 <%= link_to root_path do %>
                   <%= image_tag 'logo.png' %>
                 <% end %>
              </div>
           </div>
           <nav class="navigation nav-block secondary-navigation nav-right">
              <ul>
                 <li>
                    <div class="v-align-middle">
                       <ul class="social-list list-horizontal">
                          <li><a href="#" class="nav-icon"><span class="icon-twitter small"></span></a></li>
                          <li><a href="#" class="nav-icon"><span class="icon-facebook small"></span></a></li>
                          <li><a href="#" class="nav-icon"><span class="icon-instagram small"></span></a></li>
                       </ul>
                    </div>
                 </li>
                 <li class="aux-navigation hide">
                    <!-- Aux Navigation -->
                    <a href="#" class="navigation-show side-nav-show nav-icon">
                    <span class="icon-menu"></span>
                    </a>
                 </li>
              </ul>
           </nav>
           <nav class="navigation nav-block primary-navigation sub-menu-indicator nav-right no-margin-right">
              <ul>
                 <li class="current">
                    <%= link_to data_questions_path do %>
                     Datos para actuar
                    <% end %>
                 </li>
                 <li>
                    <%= link_to about_path do %>
                     Quiénes somos
                    <% end %>
                 </li>
                 <li>
                   <%= link_to data_dashboard_path do %>
                    Base de datos
                   <% end %>
                 </li>
                 <li>
                    <%= link_to contact_path do %>
                     Contacto
                    <% end %>
                 </li>
              </ul>
           </nav>
        </div>
     </div>
  </div>
</header>
<!-- Header End -->
