<meta charset="UTF-8" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
<meta name="twitter:widgets:theme" content="light">
<%= yield :og_details %>
<!-- <meta property="og:title" content="DataIgualdad" />
<meta property="og:type" content="DataIgualdad" />
<meta property="og:image" content="dataigualdad.org" /> -->
<title>DataIgualdad</title>
<link rel="shortcut icon" type="image/x-icon" href=<%= image_path "favicon.ico" %>>
<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap&subset=latin-ext" rel="stylesheet">
<!-- Css -->
<!-- <link rel="stylesheet" href="css/core.min.css" />
<link rel="stylesheet" href="css/skin-data.css" /> -->
<meta property="og:title"           content="DataIgualdad" />
<meta property="og:url"             content="<%= root_url %>" />
<meta property="og:description"     content="Los privilegios de unos pocos construyen la desigualdad de las mayorías. Infórmate sobre cómo se distribuyen los recursos de todas y todos en DataIgualdad." />
<meta property="og:type"            content="article" />
<meta property="fb:app_id"          content="2410108469250484" />
<meta name="twitter:card"           content="summary_large_image" />
<meta name="twitter:site"           content="@ciudadaniai" />
<meta name="twitter:creator"        content="@ciudadaniai" />
<meta property="og:image"         content='<%=root_url%><%= image_path "dataigualdad_image.png" %>'/>
<meta property="og:image:width"   content="1080" />
<meta property="og:image:height"  content="1080" />
<meta name="twitter:image"        content="<%=root_url%><%= image_path "dataigualdad_image.png" %>">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
