<!-- Datos Section -->
<section id="datosparaactuar">
   <div class="section-block grid-filter-menu pt-110 right left-on-mobile">
      <div class="row no-padding">
        <div class="column width-4 left">
                 <div class="form-select form-element large">
                    <%= form_with method: :get, local: true, url: data_questions_path, class: "" do |f| %>
                      <br>
                      <%= f.collection_select(:country_id, Country.all, :id, :name, {:prompt => 'Elige un país',:selected => @country_id}, { multiple: false, class: 'form-aux', onchange: 'this.form.submit();' }) %>
                      <br>
                      <% f.submit "Show" %>
                    <% end %>
                 </div>
              </div>
         <div class="column width-8">
            <ul>
              <li><a class="active" href="#" data-filter="*">Todos</a></li>
              <% @question_categories.each do |cat|%>
               <li><a href="#" data-filter=".<%= cat.short_name %>"><%= cat.name %></a></li>
              <% end %>
            </ul>
         </div>
      </div>
   </div>
   <div class="section-block grid-container fade-in-progressively small-margins no-padding-top" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0">
      <div class="row">
         <div class="column width-12">
            <div class="row grid content-grid-3">
              <% @facts.each do |fact| %>
              <!-- image template  -->
               <div class="grid-item grid-sizer <%= fact.factable.question_category.short_name %>">

                 <div class="question_text thumbnail img-scale-in"  data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">

                    <!--<a class="overlay-link lightbox-link" data-group="gallery-1">-->
                     <div>

                    <%= image_tag fact.factable.background if fact.factable.background.attached? %>
                    <div class="image-question-text">
                       <p><%= fact.question_text %></p>
                    </div>

                    <div class="image-question-subtext">
                       <p><%= "La desigualdad atenta contra la democracia" %></p>
                    </div>

                    <div class="image-question-hashtag">
                       <p>#DataIgualdad #DatosParaActuar #<%= Country.find(@country_id).name %></p>
                    </div>
                     <span class="overlay-info v-align-bottom left">
                     <span>
                     <span>
                     <span class="text-line bkg-black mb-10"></span>

                     <span class="project-description"><span class="icon-share left"></span>
                       Compartir
                      </span>
                     <span class="text-line bkg-black mb-10"></span>
                       <%= social_share_button_tag(fact.question_text) %>

                     </span>
                     </span>
                     </span>
                     </div>
                     <!--</a>-->

                 </div>

               </div>
                 <!-- end image template  -->
                 <% end %>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Datos Section -->
