<!-- Side Navigation Menu -->
<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
   <div class="side-navigation-scroll-pane">
      <div class="side-navigation-inner">
         <div class="side-navigation-header">
            <div class="navigation-hide side-nav-hide">
               <a href="#">
               <span class="icon-cancel medium"></span>
               </a>
            </div>
         </div>
         <nav class="side-navigation">
            <ul>
               <li>
                  <%= link_to root_path do %>
                    Inicio
                  <% end %>
               </li>
               <li>
                  <%= link_to about_path do %>
                    Quiénes somos
                  <% end %>
               </li>
               <li>
                  <%= link_to root_path do %>
                    Datos para actuar
                  <% end %>
               </li>
               <li>
                  <%= link_to contact_path do %>
                    Contacto
                  <% end %>
               </li>
            </ul>
         </nav>
         <div class="side-navigation-footer">
            <ul class="social-list list-horizontal">
               <li><a href="#"><span class="icon-twitter small"></span></a></li>
               <li><a href="#"><span class="icon-facebook small"></span></a></li>
               <li><a href="#"><span class="icon-instagram small"></span></a></li>
            </ul>
         </div>
      </div>
   </div>
</aside>
<!-- Side Navigation Menu End -->
