<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex align-items-center">
        <%= link_to root_path, {:class => "navbar-brand brand-logo"} do %>
          <%= image_tag "logo.svg" %>
        <% end %>

        <%= link_to root_path, {:class => "navbar-brand brand-logo-mini"} do %>
          <%= image_tag "logo-mini.svg" %>
        <% end %>
        
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
        <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Inicio</a>
        <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Quiénes somos</a>
        <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">FAQ</a>
        <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">Contacto</a>
        <ul class="navbar-nav navbar-nav-right ml-auto">
            <form class="search-form d-none d-md-block" action="#">
                <i class="icon-magnifier"></i>
                <input type="search" class="form-control" placeholder="Busca acá" title="Search here">
            </form>
            <li class="nav-item dropdown language-dropdown d-none d-sm-flex align-items-center">
                <a class="nav-link d-flex align-items-center dropdown-toggle" id="LanguageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  <div class="d-inline-flex mr-3">
                      <i class="flag-icon flag-icon-es"></i>
                    </div>
                    <span class="profile-text font-weight-normal">Español</span>
                </a>
                <div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown">
                    <a class="dropdown-item">
                        <i class="flag-icon flag-icon-es"></i> Español </a>
                    <a class="dropdown-item">
                        <i class="flag-icon flag-icon-br"></i> Portugués </a>
                </div>
            </li>

        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>
