<!DOCTYPE html>
<html lang="es">

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dataigualdad</title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="home-page">
    <%= render 'layouts/side_navigation' %>

    <div class=".container-scroller">
      <%= render 'layouts/top_nav_bar' %>
    </div>

    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
