<!DOCTYPE html>
<html lang="es">

<html>
  <head>
    <%= render 'layouts/head' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body class="home-page">
    <%= render 'layouts/side_navigation' %>
    <div class="wrapper reveal-side-navigation">
       <div class="wrapper-inner">
         <%= render 'layouts/header' %>
          <!-- Content -->
          <div class="content clearfix">
             <!-- Hero home Section -->

             <!-- Hero home Section -->
             <%= yield %>

             <%= render 'layouts/descarga' %>
          </div>
          <!-- Content End -->
          <%= render 'layouts/elaborado' %>
          <%= render 'layouts/footer' %>
       </div>
    </div>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <%# <%= javascript_pack_tag 'timber', 'data-turbolinks-track': 'reload' %>

    <script src="../js/jquery-1.12.4.min.js"></script>
    <!-- <script src=“https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js”></script> -->
    <script src="../js/timber.master.min.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5dd9757bb1413ba2"></script> -->

  </body>
</html>
